<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/swiper.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="header">
        <div class="container clearfix">
            <div class="pull-right langer-a"><a href="">中文</a>/<a href="">英文</a></div>
            <ul class="pull-right header-list clearfix">
                <li><a href="/index"><img src="/images/01.png"></a></li>
                <li><a href="/download">资料下载</a></li>
                <li><a href="/guide">购物指南</a></li>
                <li><a href="/productlist">在线购买</a></li>
                <li><a href="/cart">购物车</a></li>
                <li style="display:flex"><a class="userName" href="/account">会员 </a><a class="loginOut" style="display:none" href="/api/loginOut">&nbsp;| 注销</a></li>
            </ul>
        </div>
    </div>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<!-- <script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/swiper.min.js"></script> -->
<!-- Initialize Swiper -->
<script type="text/javascript">
    //右侧悬浮
    $(document).ready(function () {
        $.ajax({
            url: '/api/getUser',
            type: 'GET',
            async: false,
            cache: false,
            success: function (data) {
                console.log(data);
                if (data.status && data.status === 'success') {
                    $('.userName').text(data.content || '会员 ')
                    if(data.content){
                        $('.loginOut').show()
                    }
                    // alert(data.content)
                    // location.href = '/management/integratorMgrM'
                } else if (data.msg) {
                    alert(data.msg)
                    // console.log(data.message);
                }
            },
            error: function (data) {
                console.log(data.status);
            }
        });
        $.ajax({
            url: '/api/list?isMenu=1',
            type: 'GET',
            async: false,
            cache: false,
            success: function (data) {
                console.log(data);
                if (data) {
					$($('.pull-right.nav-list.clearfix').find('li')[1]).html(data)
                    // $('.userName').text(data.content)
                    // alert(data.content)
                    // location.href = '/management/integratorMgrM'
                } else if (data.msg) {
                    alert(data.msg)
                    // console.log(data.message);
                }
            },
            error: function (data) {
                console.log(data.status);
            }
        });
    });
</script>

</html>