<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
	<div class="header">
		<div class="container clearfix">
			<div class="pull-right langer-a"><a href="">CN</a> | <a href="">English</a></div>
			<ul class="pull-right header-list clearfix">
				<li><a href="/index"><img src="images/01.png"></a></li>
				<li><a href="/download">Download</a></li>
				<li><a href="/guide">Guide</a></li>
				<li><a href="/productlist">Online ordering</a></li>
				<li><a href="/cart">Cart</a></li>
				<li><a href="/account">Account</a></li>
			</ul>
		</div>
	</div>
	<div class="container nav-c clearfix">
		<div class="pull-left logo"><a href=""><img src="images/logo.png"></a></div>
		<ul class="pull-right nav-list clearfix">
			<li><a href="/index">Home</a></li>
			<li><a href="/productlist">Products</a></li>
			<li>
				<a href="/case">Solution</a><span class="phone-i"><i class="glyphicon glyphicon-menu-down"></i></span>
				<ul class="nav-down">
					<!-- <li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li>
					<li><a href="/integrator">查找集成伙伴</a></li> -->
				</ul>
			</li>
			<li><a href="/support">Support</a></li>
			<li><a href="/video">Train</a></li>
			<li><a href="/contact">Contact</a></li>
			<li class="last"><a href="/integrator">Integrated partner</a></li>
		</ul>
      <button type="button" class="navbar-toggle collapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	</div>
    <div class="banner">
        <!-- Swiper -->
        <div class="swiper-container swiper-container01">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="images/banner.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="images/banner.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="images/banner.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="images/banner.jpg"></a></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination01"></div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next"></div>
	        <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="container">
		<div class="search-box">
			<input type="text" class="form-control" placeholder="Search products" />
			<button type="button" class="btn btn-search"><i class="glyphicon glyphicon-search"></i>search</button>
		</div>
		<div class="clearfix text-center cp-list">
			<div class="width-three pull-left">
				<div class="list-box">
					<div class="list-tt">Products</div>
					<div class="cp-img"><img src="images/list01.png"><img class="hover" src="images/list01-1.png"></div>
					<div class="list-txt">基于标准化、模块化的高质量水平的输送分拣设备，拥有中国最快交货期的产品线，可以帮助您面对用户时获得更多优势</div>
					<a href="/productlist" class="list-btn btn">More+</a>
				</div>
			</div>
			<div class="width-three pull-left">
				<div class="list-box">
					<div class="list-tt">Train</div>
					<div class="cp-img"><img src="images/list02.png"><img class="hover" src="images/list02-1.png"></div>
					<div class="list-txt">
					  分享产品与行业应用经验，赋能行业与顾客，帮助您更快获得成功
				  </div>
					<a href="/video" class="list-btn btn">More+</a>
				</div>
			</div>
			<div class="width-three pull-left">
				<div class="list-box">
					<div class="list-tt">Planning</div>
					<div class="cp-img"><img src="images/list03.png"><img class="hover" src="images/list03-1.png"></div>
					<div class="list-txt">基于业内独有的SSM智选系统，能够帮助Solution规划工程师快速选型，并迅速完成Solution搭建与输出</div>
					<a href="/case" class="list-btn btn">More+</a>
				</div>
			</div>
		</div>
    </div>
    <div class="container">
		<div class="title-back text-center">Application Solution</div>
	    <div class="swiper-container swiper-container02">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
					<div class="design-list clearfix">
						<div class="design-img"><img src="images/solution_1.jpg"></div>
						<div class="design-box">
							<!--<div class="design-tt text-center">分拣应用Solution</div>
							<div class="design-txt">出库的货物通过靠边，调整货物间距，扫码后从相应的分拣口分出，末端分拣口一般作为异常剔除口使用。分拣口可以定义为快递公司，地点，门店等，可根据需求从新定义分拣口信息</div>
							<div class="text-center"><a href="" class="list-btn btn">查看详情></a></div>-->
						</div>
					</div>
				</div>
	            <div class="swiper-slide">
					<div class="design-list clearfix">
						<div class="design-img"><img src="images/solution_2.jpg"></div>
						<div class="design-box">
							<!--<div class="design-tt text-center">弯道应用Solution</div>
							<div class="design-txt">圆带弯道机分为30°，45°，60°，90°四种角度。可根据项目需求进行组合</div>
							<div class="text-center"><a href="" class="list-btn btn">查看详情></a></div>-->
						</div>
					</div>
				</div>
	            <div class="swiper-slide">
					<div class="design-list clearfix">
						<div class="design-img"><img src="images/solution_3.jpg"></div>
						<div class="design-box">
							<!--<div class="design-tt text-center">斜坡应用Solution</div>
							<div class="design-txt">通过爬坡和下坡可预留出项目现场需要的通道</div>
							<div class="text-center"><a href="" class="list-btn btn">查看详情></a></div>-->
						</div>
					</div>
				</div>
	            
	        </div>
	        <!-- Add Arrows -->
	        <div class="swiper-button-next swiper-button-next02"></div>
	        <div class="swiper-button-prev swiper-button-prev02"></div>
	    </div>
    </div>
<div class="container">
		<div class="clearfix fw-c">
			<div class="fw-icon"></div>
			<div class="pull-left fw-back">
				<div class="fw-tt">Support</div>
				<div class="fw-txt">Support for pre sale, sale and after sales</div>
				<a href="">+More</a>
			</div>
			<div class="pull-left fw-back zc-back">
				<div class="fw-tt">Integrated partner</div>
				<div class="fw-txt">Find the integrated partner and get service quickly.</div>
				<a href="">+More</a>
			</div>
		</div>
    </div>
    <div class="container">
		<div class="title-back text-center">Our customers</div>
		<div class="db-c">
		    <div class="swiper-container swiper-container03">
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_1.jpg"><span>意慧包装</span></a>
					</div>
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_2.jpg"><span>哈工大机器人</span></a>
					</div>
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_3.jpg"><span>艾吉威机器人
</span></a>
					</div>
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_4.jpg"><span>海康机器人
</span></a>
					</div>
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_5.jpg"><span>音飞集团</span></a>
					</div>
		            <div class="swiper-slide">
						<a href="" class="hb-logo"><img src="images/logo_6.jpg"><span>六维智能物流
</span></a>
					</div>
		        </div>
		    </div>
	        <div class="swiper-button-next swiper-button-next03"></div>
	        <div class="swiper-button-prev swiper-button-prev03"></div>
	    </div>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">customer service</div>
						<ul class="bottom-list">
							<li><a href="/register">Create an Account</a></li>
							<li><a href="">Join integration partners</a></li>
							<li><a href="/integrator">Find integration partners</a></li>
							<li><a href="/productlist">Online order </a></li>
							<li><a href="/support">Support</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">Information Center</div>
						<ul class="bottom-list">
							<li><a href="/policy">Privacy policy</a></li>
							<li><a href="">Terms of Use</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-xs-3 pull-right">
					<div class="footer-link">
						<a href=""><img src="images/footer03.png"></a>
						<a href=""><img src="images/footer04.png"></a>
						<a href=""><img src="images/footer05.png"></a>
					</div>
					<div class="bottom-phone">400-880-5180</div>
					<div class="bottom-phone bottom-phone-b">7F, software building 461, Hong Cao Road, Xuhui District, Shanghai</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer text-center">
		<div class="container">COPYRIGHT © 2018 conveyormart.net ALL RIGHTS RESERVED 备案号：沪ICP备11037079号  support：henroad</div>
	</div>
	<section class="zi-fdTel">
		<a href="" target="_onlineqq" class="tel">
			<span class="hide-txt">ＱＱ<br>交谈</span>
			<img class="" src="images/a-14.png">
		</a>
		<a href="javascript:;" class="tel">
			<span class="hide-txt">微信<br>咨询</span>
			<div><img class="" src="images/a-15.png"></div>
			<div class="hide-ewm"><img src="images/fdTel-wx.jpg"><br>扫码微信轻松聊</div>
		</a>
		<a href="" target="_onlinekf" class="tel">
			<span class="hide-txt">在线<br>客服</span>
			<img class="" src="images/a-05.png">
		</a>
		<a href="javascript:;" class="up"><img class="" src="images/a-06.png"><br>顶部</a>
	</section>
</body>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script type="text/javascript">
//右侧悬浮
$(document).ready(function(){

	$(document).on("click", ".zi-fdTel .up", function(){
		$("html,body").animate({scrollTop: 0});
	});
	$(window).scroll(function(){
		var st = $(document).scrollTop();
		var $top = $(".zi-fdTel");
		if(st > 400){
			$top.css({display: 'block'});
		}else{
			if ($top.is(":visible")) {
				$top.hide();
			}
		}
	});
	
});	

var aaa = new Swiper('.swiper-container01', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        speed: 1000,
        loop: true,
        nextButton: '.swiper-button-next01',
        prevButton: '.swiper-button-prev01',
        observer:true,
        observeParents:true,
        autoplayDisableOnInteraction : false,
        autoplay:2000
});
    $('.swiper-container01').mouseover(function(){
        aaa.stopAutoplay();
    })
    $('.swiper-container01').mouseout(function(){
        aaa.startAutoplay();
    })
 $(function () {
            if (screen.width >= 767){
			    var anli = new Swiper('.swiper-container02', {
			        slidesPerView: 3,
			        speed: 1000,
			        autoplay:2000,
			        loop: true,
			        observer:true,
			        observeParents:true,
			        paginationClickable: true,
			        nextButton: '.swiper-button-next02',
			        prevButton: '.swiper-button-prev02',
			        spaceBetween: 5
			    });
     $('.swiper-container02').mouseover(function(){
        anli.stopAutoplay();
    })
    $('.swiper-container02').mouseout(function(){
        anli.startAutoplay();
    })
			    var huoban = new Swiper('.swiper-container03', {
			        slidesPerView: 5,
			        speed: 1000,
			        autoplay:2000,
			        loop: true,
			        observer:true,
			        observeParents:true,
			        paginationClickable: true,
			        nextButton: '.swiper-button-next03',
			        prevButton: '.swiper-button-prev03',
			        spaceBetween: 30
			    });
     $('.swiper-container03').mouseover(function(){
        huoban.stopAutoplay();
    })
    $('.swiper-container03').mouseout(function(){
        huoban.startAutoplay();
    })
          }else {
			    var anli = new Swiper('.swiper-container02', {
			        slidesPerView: 1,
			        speed: 1000,
			        autoplay:2000,
			        loop: true,
			        observer:true,
			        observeParents:true,
			        paginationClickable: true,
			        nextButton: '.swiper-button-next02',
			        prevButton: '.swiper-button-prev02',
			        spaceBetween: 5
			    });
     $('.swiper-container02').mouseover(function(){
        anli.stopAutoplay();
    })
    $('.swiper-container02').mouseout(function(){
        anli.startAutoplay();
    })
			    var huoban = new Swiper('.swiper-container03', {
			        slidesPerView: 2,
			        speed: 1000,
			        autoplay:2000,
			        loop: true,
			        observer:true,
			        nextButton: '.swiper-button-next03',
			        prevButton: '.swiper-button-prev03',
			        observeParents:true,
			        paginationClickable: true,
			        paginationClickable: true,
			        spaceBetween: 30
			    });
     $('.swiper-container03').mouseover(function(){
        huoban.stopAutoplay();
    })
    $('.swiper-container03').mouseout(function(){
        huoban.startAutoplay();
    })
         }
})
   $(".navbar-toggle").click(function(){
   			$(".nav-down").slideUp("slow");
          if($(".nav-list").is(":hidden"))
          {
            $(".nav-list").slideDown("slow");  
          }else{
            $(".nav-list").slideUp("slow");
              }
  }); 
   $(".phone-i").click(function(){
          if($(this).parents("li").find(".nav-down").is(":hidden"))
          {
          	$(".nav-down").slideUp("slow");
            $(this).parents("li").find(".nav-down").slideDown("slow");  
          }else{
            $(this).parents("li").find(".nav-down").slideUp("slow");
              }
  }); 
</script>
</html>