<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/swiper.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="dy-logo"><img src="images/logo.png"></div>
		<div class="dy-txt"><span>订单号：DS2018-0001</span>订购时间：2018-06-06 12:55:35</div>
		<div class="ht-tt text-center">买卖合同</div>
		<div class="row ht-row">
			<div class="col-xs-6">
				<div class="clearfix">
					<div class="pull-left ht-left">买方：</div>
					<div class="ht-right">上海亨路网络科技有限公司</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">收货地址：</div>
					<div class="ht-right">上海市闵行区吴中路1079号405</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">收货人：</div>
					<div class="ht-right">李四</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">联系电话：</div>
					<div class="ht-right">13918240494</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">盖章处：</div>
					<div class="ht-right"></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="clearfix">
					<div class="pull-left ht-left">卖方：</div>
					<div class="ht-right">上海德马物流技术有限公司</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">公司地址：</div>
					<div class="ht-right">上海市徐汇区虹漕路461号软件大厦7楼</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">联系人：</div>
					<div class="ht-right">张三</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">联系电话：</div>
					<div class="ht-right">021 6485 6600*1061</div>
				</div>
				<div class="clearfix">
					<div class="pull-left ht-left">盖章处：</div>
					<div class="ht-right"></div>
				</div>
			</div>
		</div>
		<div class="ht-tt-sm">1、产品与价格</div>
		<div class="ht-txt-p">根据《中华人民共和国合同法》、《物权法》等有关法律法规，买卖双方在平等、自愿的基础上经协商一致，就买方向卖方购买输送、分拣设备（以下简称产品）事宜订立本合同，
并遵照执行：</div>
		<div class="table-responsive">
			<table class="table table-bordered table-car">
		      <thead>
		        <tr>
		          <th style="width: 250px;">商品属性</th>
		          <th></th>
		          <th class="text-center">数量</th>
		          <th class="text-center">重量/KG</th>
		          <th class="text-center">价格/元</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>
		          	<div class="car-box">
						<div class="car-img text-center"><img src="images/car01.png"></div>
						<div class="car-txt">
							<p>名称：D10-GC610 无动力输送机</p>
							<p>货号：GC61075656</p>
							<p>规格：517*2280</p>
						</div>
					</div>
		          </td>
		          <td>
					<ul class="car-list">
						<li>输送速度(m/min)：60</li>
						<li>承载(kg/m)：20</li>
						<li>电机(kw)：Nord0.75</li>
						<li>电机电压(v)：AC380V/3Ph/50Hz</li>
						<li>皮带类型：Siegling E8/2 U0</li>
						<li>支腿高度（mm)：G5001/H345-445</li>
						<li>护栏：单边GR80(H800mm)</li>
						<li>光电：侧架上安装-经济型</li>
						<li>阻挡装置：端部阻挡</li>
						<li class="border-no">其它备注</li>
					</ul>
		          </td>
		          <td class="text-center"><div class="car-number">1</div></td>
		          <td class="text-center">500</td>
		          <td class="text-center">￥12500</td>
		        </tr>
		        <tr>
		          <td>
		          	<div class="car-box">
						<div class="car-img text-center"><img src="images/car01.png"></div>
						<div class="car-txt">
							<p>名称：D10-GC610 无动力输送机</p>
							<p>货号：GC61075656</p>
							<p>规格：517*2280</p>
						</div>
					</div>
		          </td>
		          <td>
					<ul class="car-list">
						<li>输送速度(m/min)：60</li>
						<li>承载(kg/m)：20</li>
						<li>电机(kw)：Nord0.75</li>
						<li>电机电压(v)：AC380V/3Ph/50Hz</li>
						<li>皮带类型：Siegling E8/2 U0</li>
						<li>支腿高度（mm)：G5001/H345-445</li>
						<li>护栏：单边GR80(H800mm)</li>
						<li>光电：侧架上安装-经济型</li>
						<li>阻挡装置：端部阻挡</li>
						<li class="border-no">其它备注</li>
					</ul>
		          </td>
		          <td class="text-center"><div class="car-number">1</div></td>
		          <td class="text-center">500</td>
		          <td class="text-center">￥12500</td>
		        </tr>
		        <tr>
		          <td>
		          	<div class="car-box">
						<div class="car-img text-center"><img src="images/car01.png"></div>
						<div class="car-txt">
							<p>名称：D10-GC610 无动力输送机</p>
							<p>货号：GC61075656</p>
							<p>规格：517*2280</p>
						</div>
					</div>
		          </td>
		          <td>
					<ul class="car-list">
						<li>输送速度(m/min)：60</li>
						<li>承载(kg/m)：20</li>
						<li>电机(kw)：Nord0.75</li>
						<li>电机电压(v)：AC380V/3Ph/50Hz</li>
						<li>皮带类型：Siegling E8/2 U0</li>
						<li>支腿高度（mm)：G5001/H345-445</li>
						<li>护栏：单边GR80(H800mm)</li>
						<li>光电：侧架上安装-经济型</li>
						<li>阻挡装置：端部阻挡</li>
						<li class="border-no">其它备注</li>
					</ul>
		          </td>
		          <td class="text-center"><div class="car-number">1</div></td>
		          <td class="text-center">500</td>
		          <td class="text-center">￥12500</td>
		        </tr>
		      </tbody>
		    </table>
	    </div>
		<div class="qr-money qr-money-sm text-right clearfix">
			<div class="pull-right">
				<div class="pull-left">
					<p>3件商品，总价：</p>
					<p>会员等级折扣：</p>
					<p>运费：</p>
				</div>
				<div class="pull-right pull-right-r">
					<p>37500.00元</p>
					<p>8.5折</p>
					<p>1000.00元</p>
				</div>
			</div>
		</div>
		<div class="qr-z text-right">应付金额：<span>31875.00</span>元</div>
		<div class="ht-tt-sm">2、付款说明</div>
		<div class="ht-txt-p">
			<p>1）合同成立后3个工作日内，买方一次性预付30%货款，余款在发货前一次性付清。</p>
			<p>内的商品，在买方未支付完所有货款之前，所有商品所有权归卖方所有。</p>
		</div>
		<div class="dd-bottom clearfix">
			<div class="col-xs-6">
				<div class="dd-bottom-tt">配送信息</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">配送方式：</div>
					<div class="dd-bottom-txt">德马配送</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">送货日期：</div>
					<div class="dd-bottom-txt">周一至周五<span>* 具体达到时间由物流公司和您确认</span></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="dd-bottom-tt">付款信息</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">付款方式：</div>
					<div class="dd-bottom-txt">全额预付</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">支付方式： </div>
					<div class="dd-bottom-txt">转账、电汇</div>
				</div>
			</div>
		</div>
		<div class="dd-bottom clearfix">
			<div class="col-xs-6">
				<div class="dd-bottom-tt">收票人信息 </div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">联系人：</div>
					<div class="dd-bottom-txt">吴敏</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">收货地址：</div>
					<div class="dd-bottom-txt">上海闵行区虹桥镇吴中路1079号405室 </div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">手机号码：</div>
					<div class="dd-bottom-txt">13918240494</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="dd-bottom-tt">开票信息</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">公司名称：</div>
					<div class="dd-bottom-txt">上海亨路网络科技有限公司</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">信用代码：</div>
					<div class="dd-bottom-txt">ASASDDFSDS2356SDFDSF</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">地址/电话：</div>
					<div class="dd-bottom-txt">上海市吴中路1079号405室/021 63235645</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">开户银行：</div>
					<div class="dd-bottom-txt">工商银行漕河泾开发支行</div>
				</div>
				<div class="clearfix dd-bottom-p">
					<div class="pull-left">银行账户：</div>
					<div class="dd-bottom-txt">6223 2233 1546 562</div>
				</div>
			</div>
		</div>
		<div class="margin-bottom-b"></div>
		<div class="text-right"><button type="button" class="btn btn-car">打印</button></div>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">customer service</div>
						<ul class="bottom-list">
							<li><a href="/register">Create an Account</a></li>
							<li><a href="">Join integration partners</a></li>
							<li><a href="/integrator">Find integration partners</a></li>
							<li><a href="/productlist">Online order </a></li>
							<li><a href="/support">Support</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="dis-table">
						<div class="bottom-tt">Information Center</div>
						<ul class="bottom-list">
							<li><a href="/policy">Privacy policy</a></li>
							<li><a href="">Terms of Use</a></li>
						</ul>
					</div>
				</div>
				
				<div class="col-xs-3 pull-right">
					<div class="footer-link">
						<a href=""><img src="images/footer03.png"></a>
						<a href=""><img src="images/footer04.png"></a>
						<a href=""><img src="images/footer05.png"></a>
					</div>
					<div class="bottom-phone">400-880-5180</div>
					<div class="bottom-phone bottom-phone-b">7F, software building 461, Hong Cao Road, Xuhui District, Shanghai</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer text-center">
		<div class="container">COPYRIGHT © 2018 conveyormart.net ALL RIGHTS RESERVED 备案号：沪ICP备11037079号  support：henroad</div>
	</div>
</body>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script type="text/javascript">
//订单类型选择
  $(".user-label li a").click(function(){
  	$(".user-label li a").removeClass("active");
  	$(this).addClass("active");
  }); 
 $(function () {
            var winWide = window.screen.width;
            
            var wideScreen = false;
            if (winWide >= 768) {

            } else {
			   $(".cp-left-tt").click(function(){
			   	$(".cp-left-list").slideUp("slow");
			          if($(this).parents(".user-nav-box").find(".cp-left-list").is(":hidden"))
			          {
			            $(this).parents(".user-nav-box").find(".cp-left-list").slideDown("slow");  
			          }else{
			            $(this).parents(".user-nav-box").find(".cp-left-list").slideUp("slow");
			              }
			  }); 
            }
})
   $(".navbar-toggle").click(function(){
   			$(".nav-down").slideUp("slow");
          if($(".nav-list").is(":hidden"))
          {
            $(".nav-list").slideDown("slow");  
          }else{
            $(".nav-list").slideUp("slow");
              }
  }); 
   $(".phone-i").click(function(){
          if($(this).parents("li").find(".nav-down").is(":hidden"))
          {
          	$(".nav-down").slideUp("slow");
            $(this).parents("li").find(".nav-down").slideDown("slow");  
          }else{
            $(this).parents("li").find(".nav-down").slideUp("slow");
              }
  }); 
</script>
</html>